* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* https://fonts.google.com/ */

/* 
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Italic";
  src: url("fonts/Roboto-Italic.ttf");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("fonts/Roboto-Black.ttf");
}

/* @font-face {
  font-family: ;
  src: url();
} */

/* 
Une mise en page flexible doit avoir un élément parent avec la propriété display définie sur flex.
Les éléments enfants directs du conteneur flexible deviennent automatiquement des éléments flexibles.

.flexbox{
display: flex;

Flex Container : 
flex-direction: column;
flex-direction: column-reverse;
flex-direction: row;
flex-direction: row-reverse;
flex-wrap: wrap;
flex-wrap: nowrap;
flex-wrap: wrap-reverse;
flex-flow: row wrap;
justify-content: center;
justify-content: flex-start;
justify-content: flex-end;
justify-content: space-around;
justify-content: space-between;
justify-content: space-evenly;

height: 200px; à définir absolument une hauteur quand on utilise "align-items"
align-items: center;
align-items: flex-start;
align-items: flex-end;
align-items: stretch;
align-items: baseline;

flex-wrap: wrap;
align-content: space-between;

flex-wrap: wrap;
align-content: space-around;

flex-wrap: wrap;
align-content: stretch;

flex-wrap: wrap;
align-content: center;
align-content: space-evenly;

flex-wrap: wrap;
align-content: flex-start;

flex-wrap: wrap;
align-content: flex-end;

justify-content: center;
align-items: center;

Child Elements (Items) :
display: flex;
align-items: stretch; ->
pour un item :
order

display: flex;
align-items: stretch; ->
pour un item :
order

display: flex;
align-items: stretch;

flex-grow

display: flex;
align-items: stretch;
flex-shrink


flex-basis
flex : auto // On l'utilse pour les enfants
align-self


flex-flow

}
*/

/*************** GLOBAL ***************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
  /* font-family:Arial;
    background-image: url("../img/fond.png"); */
  background-color: rgb(240, 240, 240);
}

.container {
  /* width:1000px; */
  /*margin:0 auto;pour centrer la page dans le navigateurs*/
  /* box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #fff; */
}

/*************** END GLOBAL ***************/

/*************** HEADER ***************/

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(44, 62, 80);
  color: rgb(41, 128, 185);
  height: 200px;
  align-items: center;
  border-top: 35px black solid;
  font-family: "Times New Roman";
  font-size: x-large;
}

#logo {
  width: 30%;
}

#social {
  width: 30%;
  text-align: right;
}

/*************** END HEADER ***************/

/*************** NAV ***************/
nav {
  background-color: rgb(41, 128, 185);
  border-bottom: 8px rgb(106, 202, 252) solid;
}

.list {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  justify-content: space-evenly;
  list-style-type: none;
}

.list > li {
  background-color: rgb(106, 202, 252);
  border: 2px solid rgb(247, 245, 245);
  padding: 8px;
  border-radius: 20% 0;
  margin: 10px 0;
  font-size: larger;
  transition: 1s;
}

a {
  text-decoration: none;
  color: white;
}
li:hover {
  background-color: rgb(44, 62, 80);
}

/*************** END NAV ***********/

/*************** MAIN ***************/

/* taille 1000 et 300 */

/* ************************STRUCTURE */

main {
  background-color: rgb(224, 222, 224);
  height: 500px;
  width: 1000px;
  margin: auto;
}

.fond {
  background-color: rgb(166, 214, 195);
  width: 100%;
  height: 380px;
}

/* *************************PAGE TEXTE */

.titre-t > h2 {
  padding-left: 16px;
  font-weight: 400;
  font-size: 35px;
  padding-top: 20px;
  color: (44, 62, 125);
  text-shadow: 1px 1px 2px gray;
}

.section1 {
  margin-top: 150px;
  padding-left: 10px;
}

.section1 > h3 {
  margin-bottom: 20px;
  padding-left: 30px;
  color: (44, 62, 125);
  text-shadow: 1px 1px 1px grey;
  font-weight: 400;
}

.section1 > p > i {
  font-size: larger;
}

.section2 {
  margin-top: 100px;
  padding-left: 10px;
}

.section2 > h3 {
  margin-bottom: 20px;
  padding-left: 30px;
  color: (44, 62, 125);
  text-shadow: 1px 1px 1px grey;
  font-weight: 400;
}

/****************************PAGE SELECTEURS */

.titre-s > h2 {
  padding-left: 16px;
  font-weight: 400;
  font-size: 35px;
  padding-top: 20px;
  color: (44, 62, 125);
  text-shadow: 1px 1px 2px gray;
}

.selecteurs > h3 {
  margin-top: 100px;
  margin-bottom: 10px;
  padding-left: 30px;
  color: (44, 62, 125);
  text-shadow: 1px 1px 2px gray;
  font-weight: 400;
}

.selecteurs > p:first-of-type {
  color: pink;
}

.selecteurs > p:nth-of-type(2) {
  color: red;
}

.selecteurs > p:nth-of-type(3) {
  color: red;
}

.selecteurs > p:nth-of-type(4) {
  color: red;
}

.selecteurs > p:nth-of-type(7) {
  color: red;
}

.selecteurs > p:nth-of-type(8) {
  color: red;
}

.selecteurs > p:nth-of-type(9) {
  color: red;
}

.selecteurs > p:nth-of-type(10) {
  color: pink;
}

.selecteurs > p:nth-of-type(11) {
  color: red;
}

.selecteurs > p:nth-of-type(12) {
  color: rgb(153, 102, 100);
}

.selecteurs > p:nth-of-type(12) > span {
  color: rgb(39, 13, 232);
}

.selecteurs > p:nth-of-type(13) {
  color: rgb(152, 243, 47);
}

.selecteurs > p:nth-of-type(14) > span {
  font-size: x-large;
  font-style: italic;
  color: rgb(152, 243, 47);
}

/****************************PAGE IMAGES */

.titre-i > h2 {
  padding-left: 16px;
  font-weight: 400;
  font-size: 35px;
  padding-top: 20px;
  color: (44, 62, 125);
  text-shadow: 1px 1px 2px gray;
}


section > .titre-i {
  background-image: url(../img/fond.jpg);
width: 100%;
height: 651px;
}



.tour  {
  background-color: blue;
}

.paragraphe > p {
margin: 50px;
padding: 5px;
border: 1px black solid;
position: relative;
bottom: 500px;
background-color: rgb(230, 238, 246);
opacity: 0.5;
border-radius: 10px;

}
















/****************************PAGE POSITION */

.titre-position > h2 {
  padding-left: 16px;
  font-weight: 400;
  font-size: 35px;
  padding-top: 20px;
  color: (44, 62, 125);
  text-shadow: 1px 1px 2px gray;
}


























/****************************PAGE ZONING */

.titre-zoning > h2 {
  padding-left: 16px;
  font-weight: 400;
  font-size: 35px;
  padding-top: 20px;
  color: (44, 62, 125);
  text-shadow: 1px 1px 2px gray;
}

























/****************************PAGE TABLEAU */

.titre-table > h2 {
  padding-left: 16px;
  font-weight: 400;
  font-size: 35px;
  padding-top: 20px;
  color: (44, 62, 125);
  text-shadow: 1px 1px 2px gray;
}




















/****************************PAGE LISTE */

.titre-liste > h2 {
  padding-left: 16px;
  font-weight: 400;
  font-size: 35px;
  padding-top: 20px;
  color: (44, 62, 125);
  text-shadow: 1px 1px 2px gray;
}
























/****************************PAGE LIEN & MENU */

.lien_menu > h2 {
  padding-left: 16px;
  font-weight: 400;
  font-size: 35px;
  padding-top: 20px;
  color: (44, 62, 125);
  text-shadow: 1px 1px 2px gray;
}



























/****************************PAGE FORMULAIRE */

.titre-formul > h2 {
  padding-left: 16px;
  font-weight: 400;
  font-size: 35px;
  padding-top: 20px;
  color: (44, 62, 125);
  text-shadow: 1px 1px 2px gray;
}























/****************************PAGE MULTIMEDIA */

.titre-multimedia > h2 {
  padding-left: 16px;
  font-weight: 400;
  font-size: 35px;
  padding-top: 20px;
  color: (44, 62, 125);
  text-shadow: 1px 1px 2px gray;
}



























/****************************PAGE ANIMATION */


.titre-anim > h2 {
  padding-left: 16px;
  font-weight: 400;
  font-size: 35px;
  padding-top: 20px;
  color: (44, 62, 125);
  text-shadow: 1px 1px 2px gray;
}














/*************** END MAIN ***************/

/*************** ASIDE LEFT ***************/

/*************** END ASIDE LEFT***************/

/*************** SECTION 1 ***************/

/*************** END SECTION 1 ***************/

/*************** SECTION 2 ***************/

/*************** END SECTION 2 ***************/

/*************** SECTION 3 ***************/

/*************** END SECTION 3 ***************/

/*************** ASIDE RIGHT ***************/

/*************** END ASIDE RIGHT ***************/

/*************** FOOTER ***************/
.fondbleu {
  border: 5px rgb(41, 128, 185) solid;
  background-color: rgb(41, 128, 185);
  text-align: end;
}

/*************** END FOOTER ***************/

/*************** MEDIAQUERY ***************/

/* @media (max-width: 1400px) {
  header {
    background-color: #e68f15;
  }
  header h2 {
    font-size: 14px;
  }
}

@media (max-width: 960px) {
  header {
    background-color: #a6f28b;
  }
  .logo1 {
    display: none;
  }
  .logo2 {
    display: inline;
  }
  header h2 {
    font-family: "Roboto-Black";
  }
} */

/*************** END MEDIAQUERY ***************/
